h1 {font-size: 1.9em;}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 960px; }

.container-narrow > .row-fluid>.content,
.container-narrow > .row-fluid>.sidebar {
  margin-top: 20px;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: rgba(200,200,20);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: rgba(200,200,20);
  -khtml-box-shadow: rgba(200,200,200,1) 0 2px 18px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 15px;
}

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
.friends {
  position: relative;}
.friends span.title {
  position: absolute;
  top: -30px;
  font-weight: bold;
  left: 10px;
  background: #fff;}

ul.info li {
  height: 40px;
  line-height: 40px;}

ul.info > li > a {
  display: block;
  height: 32px;
  line-height: 32px;}

ul.info > li > a > img {
  width: 32px;
  height: 32px;
  margin-right: 10px;}

.article-block,
.page-block {
	position: relative;
	margin-top: 3em;
}
.article-block:first-child,
.page-block:first-child {
	margin-top: 1em;
}

.article-block>h2.article-year,
.page-block>h2.article-year{
	position: absolute;
	color: #c7c7c7;
	font-size: 2.0em;
	top: -1.1em;
	left: 0.9em;
	z-index: 9;
	background: #fff;
}

.article-block>ul.article-list,
.page-block>ul.page-list {
	margin-left: 0em;
}

.article-block>ul.article-list>li,
.page-block>ul.page-list>li {
  position: relative;
  border-top: 1px dashed #c7c7c7;
  padding-left: 5em;
  min-height: 4.5em;
  line-height: 4.5em;
} 

.article-block>ul.article-list>li>span.post-date,
.page-block>ul.page-list>li>span.post-date {
	position: absolute;
	font-size: 0.9em;
	line-height: 3.0em;
	text-transform: uppercase;
	left: 0em;
	top: 1.8em;
}

.article-block>ul.article-list>li>h3,
.page-block>ul.page-list>li>a {
  font-size: 1.1em;
  font-weight: bold;
}
